/*@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.woff2');
  src: url('../fonts/Montserrat-Bold.woff2');
  src: url('../fonts/Montserrat-Light.woff2');
}*/

body {
  font-family: 'Montserrat', Fallback, sans-serif;
}

.header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-link {
  position: absolute;
  top: 3%;
  right: 1%;
}

.search-form {
  width: 60%;
  max-width: 500px;
}

.search-form input {
  background: url(../icons/search.svg) no-repeat scroll 3px 8px white;
  background-size: 30px 30px;
  padding-left: 40px;
  width: 100%;
  height: 50px
}

.splash {
  background: #E91E63;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}

.issues {
  background: #ffffff;
  color: black;
}

.card-area {
  padding: 0px 1.0875rem 1.45rem;
}

.card-container {

  max-width: 350px;
  height: 300px;
  text-decoration: none;
  color: black;
}

.open {
  background-color: #3f51b5 !important;
  color: #ffffff;
}

.closed {
  background-color: #3f51b5 !important;
  color: #ffffff;
  background: url(../icons/issue-closed.svg) no-repeat scroll 95% 10px;
  background-size: 30px 30px;
}

.pull {
  background-color: #3f51b5 !important;
  color: #ffffff;
  background: url(../icons/pull-request.svg) no-repeat scroll 95% 10px;
  background-size: 30px 30px;
}

.issue-card {
  height: 250px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-item {
  font-size: 10px;
  border: 1px solid #E91E63;
  background-color: #E91E63;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toggle {
  cursor: pointer;
  border: none !important;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffffff !important;
  margin-right: 20px;
  margin-left: 20px;
}

.on {
  color: #E91E63;
}

.off {
  color: black;
}

@media only screen and (max-width: 700px) {
  .header-link {
    display: none;
  }
}